<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form>
    <ion-list inset>
      <ion-item>
        <ion-label>Choose the digital currency to {{title}}:</ion-label>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="selectedWalletId" name="selectedWalletId" (ngModelChange)="onChangeWallet($event)">
          <ion-option *ngFor="let w of wallets" [value]="w.id">{{w.currency.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input [(ngModel)]="amount" name="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-range min="0" max="{{wallet.amount}}" snaps="false" [(ngModel)]="amount" color="danger" name="amountRange">
          <ion-label range-left>0</ion-label>
          <ion-label range-right>{{wallet.amount}}</ion-label>
        </ion-range>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block (click)="onSubmit()">SUBMIT</button>
      </div>
    </ion-list>
  </form>
</ion-content>