<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doLogin()">
    <ion-list>
      <ion-item>
        <ion-input type="email" [(ngModel)]="account.email" placeholder="{{ 'EMAIL' | translate }}" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" [(ngModel)]="account.password" placeholder="{{ 'PASSWORD' | translate }}" name="password"></ion-input>
      </ion-item>
      <google-authen></google-authen>

      <div padding>
        <button ion-button color="primary" block>{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
