<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="cancel()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>DEPOSIT</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Your {{wallet.currency.name}} wallet address</h1>
  <ngx-qrcode text-center [qrc-element-type]="elementType" [qrc-value]="addressId"></ngx-qrcode>

  <button ion-button clear icon-end (click)="copyToClipboard()">
    {{value1}}
    <ion-icon name="copy"></ion-icon>
  </button>

  <form>
    <ion-list>
      <ion-item>
        <ion-input type="email" [(ngModel)]="amount" placeholder="Input the number of {{wallet.currency.code}} you deposited" name="amount"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button color="primary" block>SUBMIT</button>
      </div>
    </ion-list>
  </form>
</ion-content>