<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'TAB2_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="available">
      Avaialable transactions
    </ion-segment-button>
    <ion-segment-button value="mine">
      My transactions
    </ion-segment-button>
  </ion-segment>
  <ion-list padding-top>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="../assets/img/appicon.png">
        </ion-avatar>
        <h2>
          <b>BUY</b> 1000 BTC</h2>
        <p> Price: 500 ETH</p>
        <button ion-button clear icon-only item-end>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="checkmark"></ion-icon>Take
        </button>
        <button ion-button color="secondary">
          <ion-icon name="more"></ion-icon> View
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>