<ion-tabs>
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="pie"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="globe"></ion-tab>
</ion-tabs>

<ion-fab right bottom #fab4>
  <button ion-fab mini color="dark">
    <ion-icon name="arrow-dropup"></ion-icon>
  </button>
  <ion-fab-list side="top">
    <button ion-fab (click)="buyCoin()">
      <ion-icon name="logo-vimeo"></ion-icon>
      <ion-label>Buy digital currency</ion-label>
    </button>
    <button ion-fab (click)="sellCoin()">
      <ion-icon name="logo-vimeo"></ion-icon>
      <ion-label>Sell digital currency</ion-label>
    </button>
    <button ion-fab (click)="transferCoin()">
      <ion-icon name="logo-vimeo"></ion-icon>
      <ion-label>Transfer digital currency</ion-label>
    </button>

  </ion-fab-list>
</ion-fab>