<ion-header>
  <ion-navbar>
      <ion-buttons left>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
    <ion-title>{{ 'TAB3_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let wallet of wallets">
    <ion-card-header>
      {{wallet.currency.name}}
    </ion-card-header>
    <ion-card-content text-right>
      <h1>{{wallet.amount}} {{wallet.currency.code}}</h1>
      <ion-row no-padding>
        <ion-col>
          <button ion-button color="dark" full (click)="openDeposit(wallet)">{{wallet.currency.type === 1? 'Deposit' : 'Buy' }}</button>
        </ion-col>
        <ion-col>
          <button ion-button color="light" full>{{wallet.currency.type === 1 ? 'Withdraw' : 'Sell' }}</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>