<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'TAB1_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-segment [(ngModel)]="segment" (ionChange)='setSegment($event)'>
    <ion-segment-button value=1>
      Iternational coin
    </ion-segment-button>
    <ion-segment-button value=2>
      Petro coin
    </ion-segment-button>
  </ion-segment>

  <div *ngIf='isTab(1)'>
  <ion-list>
    <ion-item>
      <ion-label>Select Currency</ion-label>
      <ion-select [(ngModel)]="selectedComparedCurrency"  (ionChange)='update($event)'>
        <ion-option *ngFor="let currency of currencies" value="{{currency}}">{{currency}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let coin of coins">
    <ion-card-header>
      {{coin.code}}
    </ion-card-header>

    <ion-card-content text-right>
      <h1>= {{coin.value | currency:selectedComparedCurrency:true}}</h1>
    </ion-card-content>

  </ion-card>
</div>
  
<div *ngIf='isTab(2);'>
  <ion-card *ngFor="let rating of petroRatings">
    <ion-card-header>
      {{rating.currencyFrom}}
    </ion-card-header>

    <ion-card-content text-right>
      <h1>= {{rating.value | currency : rating.currencyTo:true}}</h1>
    </ion-card-content>

  </ion-card>
 </div>
</ion-content>